RewriteEngine On
RewriteBase /twitter/

RewriteCond %{THE_REQUEST} \s/twitter/index\.php\?page=([a-zA-Z0-9]*)\s [NC]
RewriteRule . %1? [R=302,L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L]

