body, html{
    margin: 0;
    padding: 0;
}
    
body{
    color: white;
    background-color: #000000;
}
      
input, button, submit { border:none; } 
      
.tex{
    font-family: 'Work Sans', sans-serif;    
    font-weight: 900;
    font-size: 1.1vw;
    color: #D9D9D9;
}

.texx{
    font-family: 'Work Sans', sans-serif;    
    font-weight: 900;
    font-size: 0.8vw;
    color: #fff;
}    
  
.col-4{
    border-left: 1px solid rgba(110, 118, 125, 0.5);
    height: 100vh;
    padding: 0;          
}

.col-3{
    height: 100vh;
    padding: 0;
}

.col-5{
    border-left: 1px solid rgba(110, 118, 125, 0.5);
    height: 100vh;
    padding: 0;
}

.left-col{
    border-radius: 40px;
    padding: 1vh 3vh 1vh 1vh;
    margin-top: 0.5vh;
    clear:both;
    float:left;
} 

.selected-nav{
    border-radius: 40px;
    padding: 1vh 3vh 1vh 1vh;
    margin-top: 0.5vh;
    clear:both;
    float:left;
    display: none;
    color: #1DA1F2;
}

.selected-nav:hover{
    background: rgba(29, 161, 242, .1) ;
    color: #1DA1F2;
}

.left-col:hover{
    background: rgba(29, 161, 242, .1) ;
    color: #1DA1F2;
}
      
.logodiv{
    border-radius: 40px;
    padding: 1vh 0.5vh 1vh 1vh;
    margin-right: 5vh;
    background-color: #000;
    clear:both;
    float:left;
}
      
.logodiv:hover{
    background-color: #031019;  
}
      
.log{
    height: 2.5vh;
    margin: 0.25vh 1.5vh 0.5vh 1vh;   
} 

.hovlogo{
    display: none;
}
      
#cont{        
    display: inline-block;
    width: auto; 
    margin-right: 3vh;
}
  
@media (min-width: 1200px) {
    .container{
        max-width: 80vw;
    }
}
      
a:hover{
    text-decoration: none;
}
      
#tweet-left-col{
    background-color:#1DA1F2; 
    border-radius: 40px;
    padding: 1.2vh 9vh ;              
    margin-top: 1.5vh;
    clear:both;
    float:left;
}
    
.foote{
    border-radius: 40px;
    padding: 0;
    display: block;
    float: left;
    clear:both;
    bottom: 1vh;  
    position:absolute;    
    width:auto;  
}

.foote:hover{
    color:#D9D9D9; 
    background: rgba(29, 161, 242, .1) ;
    float: left;
}

.profilepicleft{
    height: 4.7vh;
    margin: 1vh;  
    border-radius: 50%;
    float: left;
}

.profilepictweet{
    width: 100%;
    margin: 0;  
    padding: 0;
    border-radius: 50%;
    float: left;
}
      
.data{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0.8vh 0 0.2vh 0;
}

.name{
    font-family: 'Work Sans', sans-serif;    
    font-weight: 900;
    font-size: 1.5vh;
    color: #D9D9D9;
    clear: both;
    float: left;
    padding: 0;
    margin: 0.3vh;         
}

.usernametext{
    font-size: 1.2vh;
    color: #6E767D;
    clear: both;
    float: left; 
    padding: 0;
    margin: 0;
}

.treedots{
    height: 2vh;
    margin: 1vh 0;  
    border-radius: 50%;
    float: right;
    margin-top: 2.5vh;    
    margin-right: 0.5vh;
    margin-left:1vh;           
}          

.popover {
    background: #000;
    box-shadow: 0 0 3px #fff;
    z-index: 99;
    color: #fff;
}

.bs-popover-top .arrow::after,.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #000; 
    -webkit-filter: drop-shadow(0 2px 1px #666666);
    filter: drop-shadow(0 2px 1px #666666);     
}

.logoutpopover{
    background-color:rgba(29, 161, 242, .5); 
    border-radius: 40px;
    padding: 1vh 4vh ;              
    margin: 1.5vh 1.5vh 2vh 1.5vh;
    clear:both;
    float:left;
    color: #fff;
}

.logoutpopover:hover{
    background-color:rgba(29, 161, 242, 1); 
    color: #fff;
}

#tweetmodal{
    background-color:rgba(36,45,52, 0.75);                 
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-body{
    background-color: #000;
    padding: 1vh 1vh 0 1vh ;
}

.modal-footer{
    background-color: #000;
    border-top-color: #2F3336;
}

.modal-header{
    background-color: #000;
    border-bottom-color: #000;
    padding: 0;
}

.tweetmodalbtn{
    background-color:#1DA1F2; 
    border-radius: 40px;
    padding: 1vh 2vh ;              
    margin-top: 0.75vh;
    color: #fff;
    float: right;
}

.modal-lg {
    margin-top: 5.5vh;
    max-width: 33%;
    min-width: 33%;
    height: auto;
}

.modalclose {
    position: relative;
    background-color:  #000;
    color: #1DA1F2;
    font-size: 200%;
    margin:0 0 0.75vh 1vh;       
}
      
.modal-content {
    border-radius: 15px !important;
    border: 6px solid black!important;
}
      
.textarea{
    display: block;
    margin:0.5vh 1vh;
    width: 98%;
    height: 12vh;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    border:none;
    resize: none;
    color: #fff;
    outline: none;
    color:#fff;
    font-size: 1.1vw;
}

#mediaicon{
    height: 2vh;
    margin: 0; 
    margin-right: 1.1vh;
    float: left;
}

.modalfooter>input {
    display: none;
}

#mediainserted{
    width: 100%;
    position: relative;
}

.imgclose{
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 1.5vw;
    margin:0 0 0 1vh;
    padding: 0;
    float: left;
    height: 0;
    text-shadow: 0 0 10px #000;
    display: none;
}
      
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color:#6E767D;
}

.editimage{
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    padding: 0.25vh 1vh;
    position: absolute;
    z-index: 100;
    margin: 0;
    right:2.5vh;
    bottom: 7.3vh;
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #1DA1F2;
    border-color: #1DA1F2 transparent #1DA1F2 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#HomeDiv{
    display: none;
}
#ExploreDiv{
    display: none;
}
#NotificationsDiv{
    display: none;
}
#MessagesDiv{
    display: none;
}
#BookmarksDiv{
    display: none;
}
#ListsDiv{
    display: none;
}
.ProfileDiv{
    display: none;
}
#MoreDiv{
    display: none;
}

.profilepic{
    height: 15vh;
    width: 15vh;
    margin-top: 13vh;
    margin-left: 3vh; 
    border-radius: 50%; 
    border: #000 3px solid ;
}

.profilepicedit{
    display: block;
    width: 22vh;
    border-radius: 50%; 
    border: #fff 2px solid ;
    margin: 7vh auto ;
}

#setUpProfile{
    font-family: 'Work Sans', sans-serif;    
    font-weight: 900;
    font-size: 0.8vw;
    background-color:#000; 
    color: #1DA1F2;
    border: #1DA1F2 1px solid;
    border-radius: 40px;
    padding: 0.7vh 1.5vh ;              
    margin: 1.5vh;
    clear:both;
    float:right;
}

#setUpProfile:hover{
    background: rgba(29, 161, 242, .1) ;

}
#setupprofilemodal{
    background-color:rgba(36,45,52, 0.75);                 
}
